html, body {
  background:#F2F3F3;
}
.blob-4 {
    height: 50px;
    border: 10px solid #fff;
    background: 
      radial-gradient(farthest-side,#000 98%,#fff ) left/20px 20px,
      radial-gradient(farthest-side,#000 98%,#fff ) left/20px 20px,
      radial-gradient(farthest-side,#000 98%,#fff ) center/20px 20px,
      radial-gradient(farthest-side,#000 98%,#fff ) right/20px 20px,
      #fff;
    background-repeat:no-repeat;
    filter: blur(4px) contrast(10);
    animation: b4 1s 1 1s linear forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
  }
  @keyframes b4 {
    98%  {background-position:right,left,center,right}
    100%  {opacity:0}
  }
  header {
transition: opacity 0.3s ease-in-out;
}
[data-aos="blure-fade-in"] {
filter: blur(4px)!important;
transition: filter 1s ease-out!important;
}

/* Remove blur effect when animation is complete */
[data-aos="blure-fade-in"].aos-animate {
filter: blur(0)!important;
}
#videoContainer {
display: block; /* Ensure the container is displayed */
}

#myVideo {
display: block; /* Ensure the video is displayed */
}

.headline {
  font-weight: 300;
  font-size: 1.3em;
  line-height:1.3em;
  font-family: 'Roboto', sans-serif;
  color: #030303;
}

.lead  {
  font-weight: 300;
  font-size: .84em;
  line-height: 1.65em;
  font-family: 'Roboto', sans-serif;
  color: #030303;
}

.headline-px {
  font-weight: 300;
  font-size: 20px;
  line-height:1.3em;
  font-family: 'Roboto', sans-serif;
  color: #030303;
}

.lead-px  {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  color: #030303;
}

video {
  width: 100%    !important;
  height: auto   !important;
}


.fullscreen-video-container {
  position: relative;
  height: 400vh; 
  width: 100vw;
  z-index: 1; 
  overflow: hidden;
}

.fullscreen-video-container-mobile {
  position: relative;
  height: 100vh; 
  width: 100vw;
  z-index: 1; 
  overflow: hidden;
}
.fullscreen-video-container-mobile video {
  bottom:0;
  top:0;
  position: fixed;
  width: auto;
  height: auto;
  min-width: 100%;
  height: 100vh;
}


.fullscreen-video-container video {
  top:0;
  position: fixed;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.main-content {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

/* Modify this media query */
@media (min-height: 640px) and (max-height: 740px) {
  .main-content {
    margin-top: 140px;
  }
}

#post > h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
#post > p {
  font-size: 1.1rem;
  line-height: 1.9rem;
  font-weight: 300;
}



/* Add these styles to handle mobile menu animations */
body.menu-open {
    overflow: hidden;
}

#mobileMenuSheet {
    visibility: hidden;
}

#mobileMenuSheet.open {
    visibility: visible;
    transform: translateX(0);
}

/* Hamburger button animations */
.menu-open #toggleMenu span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-open #toggleMenu span:nth-child(2) {
    opacity: 0;
}

.menu-open #toggleMenu span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* TranslatePress language switcher */
.trp-language-switcher {
  height: auto;
  position: relative;
  box-sizing: border-box;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trp-language-switcher > div {
  box-sizing: border-box;
  padding: 0px 10px 0px 10px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 30px !important;
  /* background-image set dynamically via wp_add_inline_style in functions.php */
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 3px) calc(1em + 0px);
  background-size: 8px 8px, 8px 8px;
  background-color: transparent;
}

div.trp-ls-shortcode-current-language {
  width: 85px !important;
}




ul, ol {
  list-style: disc; /* or decimal for numbered lists */
  margin-left: 1.5rem;
}

.lead ol {
  list-style: disc; /* or decimal for numbered lists */
  margin-left: 1.5rem;
}
.lead ul {
  list-style: disc; /* or decimal for numbered lists */
  margin-left: 1.5rem;
}

.my-accordion .accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.accordion-section.open .accordion-body {
  max-height: 500px; /* Adjust as needed */
  margin-top:10px;
  margin-bottom:20px;
}
.accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
}
.my-accordion .accordion-number {
  margin-right: 8px;
  font-weight: 100; /* thin */
}
.accordion-arrow img {
  transition: transform 0.3s ease;
}
.accordion-section.open .accordion-arrow img {
  transform: rotate(180deg);
}
.accordion-header h3 {
  text-align: left!important;
  float: left;
  font-weight: 100;
}

body > main > div > div > div > h1 {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Roboto';
}



form  > input {
  padding: 10px;
  border-radius: 60px;
  background:#F2F3F3;
  border: 1px solid #2c2c2c;
}

form  > textarea {
  padding: 10px;
  border-radius: 60px;
  background:#F2F3F3;
  border: 1px solid #2c2c2c;
}

body > main > div > div > div > p {
  font-weight: 300;
}


.scroll-arrow {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}




